<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->

    <style>

    .container{
margin-top: 20px;
margin-left: 500px;

    }
    table,tr,td,th{
        border-style: groove;
        color: black;
        border-color: aqua;
        text-align: center;
    }
    .form1{
        text-align: center; 
        margin-top: 300px;
        height: 100px;
    
    
    }
    .form2{
        text-align: center;
        margin-top: 5px;

    }
    </style>
</head>
<body>
    

    {% block start %}



    {% endblock %}
</body>
</html>